
html{
  
    overflow-x: hidden;

  }

  body{
      margin: none;
    
      overflow-x: hidden;

      color: #000;

      font-family: 'Open Sans',sans-serif;



    }

*{
    padding: 0;
    margin: 0;
   
    user-select: none;
  }



.navbar{
    font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
padding-bottom: 15px;
padding-left: 160px;
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 18px;

background-color: transparent;
}




.nav-item{
  margin-right: 50px;
}

a.middle
{
    font-weight: normal;
    color: black;
    position: relative;
}

a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #05CC79;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;

}
a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
    color: black;
  }

  .nav-item button:after{
    border: none;
  }

  .nav-item button:focus {
     
      outline: none;

  }

  .navbar-nav{
      margin-left: 40%;
  }

  .contact-button{
      font-weight: 600;
      border-radius: 24px;
      border: 2px solid #000000;
      width: 140px;
      height: 45px;
      background-color: transparent;
  }

  .contact-button:hover{
      background-color: black;
      color: white;
  }

  .navbar-light .navbar-toggler{
      color: transparent;
  }


  .banner-left-col{
   
      padding-left: 220px;
  }

  .banner-left-col h1{
      font-weight: bold;
      font-family: 'DM Sans', sans-serif;
      font-size: 70px;
      line-height: 100px;
      
  }

  .banner-left-col p{
      color: #4D4D4D;
    font-size: 21px;
    font-weight: normal;
    
}


  .banner-img-col img{
      display: block;
    margin-left: auto;
      height: 700px;
  }

  .join-button{
      background-color: #05CC79;
      width: 150px;
      height: 48px;
      border-radius: 24px;
      color: black;
      font-weight: 600;
      font-size: 18px;
      border:none
  }

  .opening-container{
      padding-top: 120px;
  }

  @media(max-width:1140px){
    .navbar{
        padding-left: 50px;
    }
    .banner-left-col{
 
      padding-left: 50px;
  }


}

@media(max-width:1050px){
    .navbar-nav{
        margin-left: 20%;
    }
}

@media(max-width:960px){
    .navbar-nav{
        margin-left: 0;
    }
}

@media(max-width:700px){
    .banner-left-col{
        text-align: center;
        padding-left: 10px;
    }
}

@media(max-width:500px){
    .banner-left-col h1{

        font-size: 57px;
        line-height: 85px;
        
    }
    .banner-left-col p{

      font-size: 18px;

      padding-left: 20px;
      padding-right: 20px;
      
  }
  
}
@media(max-width:420px){
    .banner-left-col h1{

        font-size: 48px;
        line-height: 63px;
        padding-left: 20px;
        padding-right: 20px;
        
    }
    .banner-left-col p{

      font-size: 16px;
      line-height: 23px;
      padding-left: 20px;
      padding-right: 20px;
      
  }

  .join-button{

    width: 85%;

    font-size: 16px;

}
    .banner-img-col img{
        display: block;
    margin: auto;
        height: 312px;
    }

    .navbar{

    padding-top: 28px;
    font-size: 16px;
        padding-left: 15px;
}
.opening-container{
    padding-top: 50px;
}


  
}

  .message-container{
      background-color: #ACF29D;
      padding: 55px 160px 55px 160px;
  }

  .message-indi .circle{
      height: 65px;
      width:65px;
      border-radius: 50%;
      background-color: white;
      display: inline-block;
      position: absolute;
  }

.message-indi h3{
    margin-left: 90px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0.11em;
}

.company-logos{
    padding: 90px 0px 0px 0px;
}

.logo-row{
    width: fit-content;
    margin: auto;
}

.logo-row img{
    margin-left: 80px;
}

@media(max-width:900px){
    .message-container{

        padding: 55px 50px 55px 50px;
    }
}

@media (max-width:620px) {
    .message-container{

        padding: 0;
    }

    .message-indi{
        padding: 25px 50px 25px 140px;
        border-top: 4px solid #fff;
    }

    .message-indi h3{
        margin-right: 100px;
    }
    .centering-div{
        display: block;
        margin: auto;
    }
    
}

@media (max-width:420px) {
    .message-container{

        padding: 0;
    }

    .message-indi{
        padding: 25px 50px 25px 50px;
        border-top: 4px solid #fff;
    }

    .message-indi h3{
        margin-right: 0;
        font-size: 15px;
    }
    .centering-div{
        display: block;
        margin: auto;
    }
    .company-logos{
        padding:70px 0px 0px 0px;
        overflow-x: scroll;
       
    }

    .logo-row{  
        width: 1100px;
        margin: auto;
        overflow-x: scroll;
    }
    
    .logo-row img{
        margin-left: 50px;
        overflow-x: scroll;
    }
    
}

.cost-effect-container{
    
    text-align: center;
    margin-top: 150px;
    padding-right: 100px;
    padding-left: 100px;
}

.cost-effect-container h1{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 44px;
    color: #02345C;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 70px;
}
.cost-indi{
    padding-left: 80px;
    padding-right: 80px;
}

.cost-indi .circle-blue{
    display: block;
    margin: auto;
    height:105px;
    width: 105px;
    border-radius: 50%;
    background-color: #30BFD9;
}

.cost-indi h5{
    font-family: 'DM Sans';
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: 0.12em
}

.cost-indi p{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #4D4D4D;
}


@media(max-width:800px){
    .cost-effect-container{
        padding-right: 40px;
        padding-left: 40px;
    }

    .cost-effect-container h1{
  
        font-size: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .cost-indi{
        padding:60px 80px 0 80px
    }

}

@media(max-width:420px){
    .cost-effect-container{
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 10  0px;
    }

    .cost-effect-container h1{
  
        font-size: 26px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .cost-indi{
        padding:40px 40px 0 40px
    }

    .cost-indi h5{
     
        font-size: 15px;
        line-height: 22px;
    }
    
    .cost-indi p{

        font-size: 15px;

    }
}


.why-container{
    

    margin-top: 90px;

    padding:100px 140px 120px 140px;
    background-color: #F5F5F5;
}

.why-container h1{
    text-align: center;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 44px;
    line-height: 65px;
    color: #02345C;
    padding-left: 150px;
    padding-right: 150px;
}

.why-container p{
    text-align: center;
    font-family: 'Open Sans';
    color: #4D4D4D;
    font-weight: 400;
    font-size: 16px;
}

.why-row{
    padding-top: 90px;
}

.why-container .text-col h4{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 24px;
    line-height: 37px;
}
.why-container .text-col p{

    text-align: left;
    font-size: 16px;
    line-height: 28px;
}


@media(max-width:800px){
    .why-container h1{

        font-size: 35px;
        line-height: 52px;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
    }
    .why-container p{

        font-size: 15px;
    }

    .why-row{
        padding-top:60px;
    }
    
    
}

@media(max-width:600px){
    .why-container{
        margin-top: 110px;
        padding:70px 30px 70px 30px;
        background-color: #F5F5F5;
    }
    

    .why-container .text-col h4{
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 22px;
        line-height: 35px;
    }
    .why-container .text-col p{
    
        text-align: left;
        font-size: 16px;
        line-height: 26px;
    }
    .why-row{
        padding-top:30px;
    }
    

    
}

@media(max-width:420px){
    .why-container h1{

        font-size:26px;
        line-height: 34px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    .why-container .text-col h4{
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: -0.02em;
    }
    .why-container .text-col p{
    
        text-align: left;
        font-size: 16px;
        line-height: 26px;
    }
}


.gradient-container{
    text-align: center;
    color: #fff;
    padding:80px 230px 80px 230px;
    background: linear-gradient(150.42deg, #30BFD9 -39.4%, #02345C 115.2%);
}

.gradient-container h1{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 43px;
    line-height: 63px;
}

.gradient-container p{
    font-weight: normal;
    font-size: 19px ;
    line-height: 30px;
    color: #F5F5F5;
}

.join-row{
    margin-top: 70px;

}

.join-col h1{
    font-family: 'DM Sans';
    font-size: 100px;
    font-weight: bold;
    line-height: 140px;
    color: #fff;
}

.join-col h6{
    font-family: 'DM Sans';
    font-size: 18px;
    letter-spacing: 0.12em;
    font-weight: 500;
}

@media(max-width:700px){
    .gradient-container{

        padding:120px 120px 100px 120px;

    }
    .join-row{
        margin-top: 50px;
    
    }
    
}

@media(max-width:420px){
    .gradient-container{

        padding:70px 20px 70px 20px;

    }
    .gradient-container h1{
        font-size:26px;
        line-height:34px;
        padding-left: 40px;
        padding-right: 40px;
    }
    
    .gradient-container p{

        font-size: 16px ;
        line-height: 24px;

    }
    
    .join-row{
        margin-top: 30px;
    
    }

    .join-col{
        margin-top: 30px;
    }
    
    .join-col h1{

        font-size: 60px;
        line-height: 78px;

    }
    
    .join-col h6{

        font-size: 15px;
        letter-spacing: 0.14em;
 
    }
}

    .step-process-container{
        padding: 100px 120px 90px 120px;
        background-color: #F5F5F5;
        margin-top: 120px;
    }

.step-col{
    padding:50px;
    padding-right: 20px;
    padding-left: 180px;
}

.step-col h1{
    font-family: 'DM Sans';
    font-size: 43px;
    line-height: 64px;
    color: #02345C;
    letter-spacing: -0.02em;
}

.step-col p{
    color:#4D4D4D;
    font-size: 18px;
}
.step-col-one{
    padding-left:110px;
    padding-right:100px;
}

.step-col-one .circle-blue{
    display: block;
    margin: auto;
    height:105px;
    width: 105px;
    border-radius: 50%;
    background-color: #30BFD9;
}

.step-col-one h5{
    font-family: 'DM Sans';
    font-size: 22px;
    line-height: 32px;
    font-weight: 500;

}

.step-col-one p{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #4D4D4D;
}

.talk-button{
    width: 130px;
    height: 48px;
    border:2px solid #05CC79;
    background-color: transparent;
    font-weight: 600;
    font-size: 19px;
    border-radius: 26px;
}

@media(max-width:990px){
    .step-process-container{

        margin-top: 130px;
    }
    
    .step-col{
        padding-left: 20px;
    }
    .step-col-one{
        padding-left:20px;
    }
    
}
@media(max-width:600px){
    .step-process-container{
        
        padding: 100px 20px 90px 20px;
        margin-top: 70px;
    }
    
    .step-col{
        text-align: center;
        padding-left: 20px;
    }
    .step-col-one{
        padding-left:20px;
    }
    
}
@media(max-width:420px){
    
    .step-process-container{
        padding: 40px 20px 50px 20px;
        background-color: #F5F5F5;
       
    }
    
.step-col h1{
    font-size: 26px;
    line-height: 34px;

}

.step-col p{

    font-size: 16px;
}
.step-col-one{
    padding-left:20px;
    padding-right:20px;
}


.step-col-one h5{

    font-size: 18px;
    line-height: 25px;


}

.step-col-one p{
    font-family: 'Open Sans';
    font-size: 18px;
    color: #4D4D4D;
}

.talk-button{
    width: 86%;

}
}



.team-container{
    padding: 120px;
    text-align: center;
}

.team-container h1{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size:48px;
    line-height: 64px;
    color: #02345C;
}

.team-container p{
    padding-left: 230px;
    padding-right: 230px;
    color: #4D4D4D;
    font-size: 18px;
    line-height: 30px;
}

.team-container h2{
    font-family: 'DM Sans';
    font-size: 26px;
    line-height: 37px;
}

.team-container h3{
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: 33px;
    color: #4D4D4D;
}

@media(max-width:1100px){
    .team-container p{
        padding-left: 40px;
        padding-right: 40px;

    }
}

@media(max-width:900px){
    .team-container{
        padding: 80px 20px 80px 20px;

    }
}

@media(max-width:420px){
    .team-container p{
        padding-left: 10px;
        padding-right: 10px;

    }
    
    .team-container h1{

        font-size:26px;
        line-height: 34px;

    }
    
    .team-container p{

        font-size: 16px;
        line-height: 23px;
    }
    
    .team-container h2{
        font-size: 18px;
        line-height: 23px;
    }
    
    .team-container h3{

        font-size: 16px;
        line-height: 23px;

    }
}

.schedule-container{
    background-color:#F5F5F5;
    padding: 120px;
    padding-top: 90px;
}

.schedule-container h1{
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size:48px;
    line-height: 64px;
    margin-bottom: 100px;
    color: #02345C;
}

.schedule-container h2{
    font-family: 'DM Sans';
    font-size: 26px;
    line-height: 39px;
    font-weight: 500;
}    

.schedule-container ul{
    font-size: 19px;
    line-height: 28px;
    color: #4d4d4d;
}

.left-schedule-col{
    padding-left: 80px;
    padding-right:130px;
}
.hide{
    display: none;
}

.show img{
    height: 700px;
}


@media(max-width:900px){
    .left-schedule-col{
        padding-left: 0px;
        padding-right:0px;
    }
    .show{
        display: none;
    }
    .hide{
        display: block;
        margin-bottom: 80px;
    }
    .hide img{
        display: block;
        margin: auto;
        height: 500px;
    }
}

@media(max-width:560px){
    .schedule-container{
        background-color:#F5F5F5;
        padding: 120px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .left-schedule-col{
        padding-left: 20px;
        padding-right:20px;
    }

}

@media(max-width:420px){
    .schedule-container{
  
        padding: 80px 20px 80px 20px;

    }
    .schedule-container h1{
        font-size:26px;
        line-height: 34px;
        margin-bottom: 30px;
    }
    
    .schedule-container h2{

        font-size: 20px;
        line-height: 26px;

    }    
    
    .schedule-container ul{
        font-size: 16px;
        line-height: 23px;
        color: #4d4d4d;
    }
    
    .hide img{
        height: 420px;
    }
    
}

.inquiry-container{
    text-align: center;
    color: white;
    padding: 120px;
    padding-bottom: 100px;
    background: linear-gradient(150.42deg, #0D5378 -39.4%, #02345C 115.2%);
}

.inquiry-container h1{
    font-family: 'DM Sans';
    font-size: 48px;
    line-height: 64px;
}

.inquiry-container p{
    padding-left: 300px;
    padding-right: 300px;
    color: #F5F5F5;
    font-size: 22px;
    line-height: 34px;
}

@media(max-width:1000px){
    .inquiry-container p{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media(max-width:600px){
    .inquiry-container{
        padding: 80px 40px 80px 40px;

    }
}

@media(max-width:420px){
    .inquiry-container{
        padding: 100px 25px 100px 25px;

    }
    .inquiry-container h1{

        font-size: 26px;
        line-height: 34px;
    }
    
    .inquiry-container p{

        font-size: 16px;
        line-height: 23px;
        padding-left: 10px;
        padding-right: 10px;
    }

}

.footer{
    background-color: #000; 
    color: #fff;
    padding: 90px 200px 20px 200px;
}

.footer p{
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 28px;
}

.indi-social{
    margin-left: 55px;
}

.contact-privacy{
    text-align: right;
}

.social-links{
 display: block;
 width: fit-content;
  margin-left: auto;
}

.hide2{
    display: none;
}

@media(max-width:900px){
    .footer{

        padding: 90px 50px 40px 50px;
    }
    .contact-privacy{
        text-align: left;
    }
    .social-links{
        margin-left: 0;
    }

    .hide2{
        display: block;
    }
}

@media(max-width:420px){

    .social-links{
        margin-left: auto;
        margin-right: auto;
    }
    .hide2{
        text-align: center;
    }
    .footer p{

        font-size: 16px;
        line-height: 23px;
    }
}

/* --------------------------------------------------------------------- */
.title-container{
    padding: 110px 180px 200px 180px;
    background-color: #ACF29D;
}

.title-container h1{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 70px;
    line-height: 105px;
    color: black;
}

.title-container p{
    font-family: 'Open Sans';
    font-size: 18px;
    padding-left: 180px;
    color: #4D4D4D;
    padding-right: 180px;
}

@media(max-width:1000px){
    .title-container p{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width:700px){
    .title-container{
        padding: 110px 30px 200px 30px;
     
    }
    
}

@media(max-width:420px){
    .title-container{
        padding: 70px 18px 120px 18px;
     
    }
    .title-container h1{

        font-size: 45px;
        line-height: 60px;
     
    }
    .title-container p{
   
        font-size: 16px;
        line-break: 23px;

    }
}

.business-container{
    padding: 90px 180px 90px 180px;
}

.business-container h1{
    font-family: 'DM Sans';
    font-size: 45px;
    line-height: 64px;
    color: #02345C;
    font-weight: 500;
}

.business-container p{
    font-size: 18px;
    line-height: 28px;
    color: #4D4D4D;
}

.business-container .row{
    text-align: left;
    padding: 100px 100px 0 100px;
}

.business-container h3{
    font-family: 'DM Sans';
    letter-spacing: 0.14em;
    font-weight: 500;
    font-size: 20px;
    color: #000;
}
.business-container img{
    margin-top: 70px;
     width: 80%;
    height:auto 
}

@media(max-width:900px){
    .business-container{
        padding: 110px 30px 200px 30px;
     
    }
}

@media(max-width:700px){
    .business-container .row{
        text-align: left;
        padding: 40px 0px 0 0px;
    }
}

@media(max-width:420px){
    .business-container img{
        margin-top: 48px;
         width: 100%;
        height:auto 
    }
    .business-container .row .col-lg-6{
        margin-top: 30px;
    }

    .business-container h3{
        font-size: 16px;

    }
    .business-container{
        padding: 90px 24px 90px 24px;
     
    }
    .business-container h1{

        font-size: 26px;
        line-height: 34px;
     
    }
    .business-container p{
   
        font-size: 16px;
        line-break: 23px;

    }
}

.values-container{
    background-color:  #F9F9F9;
    padding: 90px 180px 90px 180px;
    text-align: center;
}

.values-container .row{
    padding-top: 70px;
    text-align: center;
}
.values-container h1{
    font-family: 'DM Sans';
    font-size: 45px;
    line-height: 64px;
    color: #02345C;
    font-weight: 500;
}

.value-cols{
    margin-top: 80px;
}

@media(max-width:600px){
    .values-container{
        padding: 80px 30px 120px 30px;
    }
}
@media(max-width:420px){
    .values-container .row{
        padding-top: 20px;

    }
    .values-container h1{
  
        font-size: 28px;
        line-height: 36px;

    }
    .values-container{
        padding: 80px 24px 120px 24px;
    }

    .value-cols{
        margin-top: 0;
    }

    .val-ind{
        margin-top: 50px;
    }
}

.schedule-container p{
    font-size: 20px;
    color: #333333;
    line-height: 33px;
}
.schedule-container img{
   height: 80% ;
   box-shadow: 5px 5px 18px rgb(199, 199, 199);
    margin-top: 15%;
}
@media(max-width:420px){
    .schedule-container img{
        height: 400px ;
        width: auto;
     }   
     .schedule-container p{
        font-size: 16px;
        
        line-height: 23px;
    }
    .schedule-container .schedule-h1{
        text-align: left;
        margin-bottom: 30px;
    }
}


.title-container img{
    position: absolute;
    margin: auto;
    left: 18%;
    z-index: 5;
    width: 65%;
}

.case-study-title{
    padding-left: 200px;
    padding-right: 200px;
}

.video-continue-container{
    padding: 450px 220px 10px 220px;
    text-align: center;
}

.video-continue-container p{
    font-size: 18px;
    color: #4D4D4D;
    line-height: 29px;
}

@media(max-width:1000px){
    .video-continue-container{
        padding: 240px 40px 10px 40px;

    }
}

@media(max-width:600px){
    .video-continue-container{
        padding: 120px 40px 10px 40px;
      
    }
    .case-study-title{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width:420px){
    .title-container img{

        width: 85%;
        left: 8%;
    }
    .video-continue-container{
        padding: 150px 40px 10px 40px;
      
    }
    .video-continue-container p{
        font-size: 16px;
        color: #4D4D4D;
        line-height: 23px;
    }
}
.flow-chart-video-container{
    padding: 90px 180px 90px 180px;
    background-color: #F5F5F5;
}

.flow-chart-video-container h1{
    font-family: 'DM Sans';
    font-size: 45px;
    line-height: 64px;
    color: #02345C;
    font-weight: 500;
}

.flow-chart-video-container img{
    width: 70%;
}

.flow-chart-video-container p{
    font-size: 18px;
    line-height: 28px;
    color: #4D4D4D;
}

@media(max-width:900px){
    .flow-chart-video-container img{
        width: 100%;
    } 
}

@media(max-width:700px){
    .flow-chart-video-container{
        padding: 120px 30px 120px 30px;
       
    }
}

@media(max-width:420px){
    .flow-chart-video-container{
        padding: 80px 24px 80px 24px;
       
    }
    .flow-chart-video-container h1{

        font-size: 28px;
        line-height: 36px;

    }
    .flow-chart-video-container p{
        font-size: 16px;
        line-height: 23px;

    }
    
}

.who-container{
    padding: 90px 180px 90px 180px;
    
}

.who-container h1{ 
    font-family: 'DM Sans';
    font-size: 45px;
    line-height: 64px;
    color: #02345C;
    text-align: center;
    font-weight: 500;
}

.who-container ul{
    padding-left: 120px;
    padding-right: 80px;
    font-size: 20px;
    color: #4D4D4D;
    line-height:40px;
}

@media(max-width:1000px){
    .who-container{
        padding: 120px 40px 120px 40px;
        
    }
}

@media(max-width:600px){
    .who-container ul{
        padding-left: 20px;
        padding-right: 20px;

    }
    
}

@media(max-width:420px){
    .who-container{
        padding: 70px 40px 70px 40px;
        
    }
    .who-container h1{ 

        font-size: 28px;
        line-height: 36px;

    }
    
    .who-container ul{

        font-size: 16px;

        line-height:23px;
    }

    .who-container ul li{
        margin-bottom: 25px;
    }
}


/* ------------------------------------------ */
.blog-title-container{
    padding:90px 120px 0px 120px;
}

.blog-title-container h1{
    font-size: 62px;
    line-height: 88px;
    font-family: 'DM Sans';
    font-weight: 700;
}

.blog-title-container p{
    font-size: 16px;
    line-height: 23px;
    font-family: 'DM Sans';
    font-weight: 500;
}

.blog-title-container-row{
    text-align: left;
    padding-left: 100px;
    padding-right: 150px;
}

.blog-title-container-row .col-2{
    width: max-content;
    margin-left: auto;
    flex: 0 0 auto;
}




.recent-container{
    padding:50px 250px 120px 250px;
}

.recent-container h3{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 26px;
    line-height: 38px;
}

.blog-card{
    width: 270px;
    box-shadow: 5px 5px 18px rgb(216, 216, 216);
}

.blog-card h6{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    padding: 20px 20px 10px 15px;
    letter-spacing: 0.14em;
}

.blog-card p{
    font-family: 'DM Sans';
    font-size: 19px;
    color: #000;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
}

@media(max-width:1300px){
    .blog-title-container-row{
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }
    .recent-container{
        padding:50px 250px 120px 120px;
    }
}

@media(max-width:1100px){
    .blog-title-container{
        padding:90px 120px 0px 40px;
    }
}

@media(max-width:1000px){

    .blog-title-container-row{
        width: 1500px;
        overflow-x: scroll;
    }
}

@media(max-width:500px){
    .blog-title-container{
        padding:90px 0px 0px 0px;
    }
    .blog-title-container-row .col-2{
        width: max-content;
        margin-left: 20px;
        flex: 0 0 auto;
    }
    .recent-container{
        padding:50px 30px 120px 30px;
    }
}

@media(max-width:420px){
    .blog-title-container h1{
        font-size: 45px;
        line-height: 59px;
        font-family: 'DM Sans';
        font-weight: 700;
    }
    .blog-title-container p{
        font-size: 14px;
        line-height: 21px;
        font-family: 'DM Sans';
        font-weight: 500;
    }
}